## Data Reading File

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\moham\AppData\Local\Temp\ipykernel_3768\2151744951.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
fd = open('Data.txt','r')
print(fd.read())
fd.close()

Hi I'm Mohammad , a 25-year-old software engineer from Iran. I'm here to learn and improve my English

In [4]:
for i in "@#%^&*!":
    print(i)

@
#
%
^
&
*
!

In [5]:
!ls

Data Reading Filef.ipynb
Data.txt
Inventory_Management.py
Untitled.ipynb
tempCodeRunnerFile.py

In [6]:
print("Hello World")

Hello World

In [7]:
record = {1001:{"name":"Mohammad Ali", "ph": '9883367897',        "vill": 'Chhotoitna',         "dist":'Nadia'},
          1002:{"name":"Sumon",        "ph": '090708780',         "vill": 'debagram',           "dist":'Burdhwan'},
          1003:{"name":"Mamon",        "ph": '6296321265',        "vill": 'Berhampur',          "dist":'Murshidabad'},
}
record[1001]

{'name': 'Mohammad Ali',
 'ph': '9883367897',
 'vill': 'Chhotoitna',
 'dist': 'Nadia'}

In [8]:
for key in record.keys():
    print(record[key])

{'name': 'Mohammad Ali', 'ph': '9883367897', 'vill': 'Chhotoitna', 'dist': 'Nadia'}
{'name': 'Sumon', 'ph': '090708780', 'vill': 'debagram', 'dist': 'Burdhwan'}
{'name': 'Mamon', 'ph': '6296321265', 'vill': 'Berhampur', 'dist': 'Murshidabad'}

In [12]:
import pandas as pd

a = {
    "name": ['Mohammad', 'Ali', 'Sumon', 'Mamon'],
    "city": ['newyork', 'london', 'german', 'berlin']
}

b = pd.DataFrame(a)
print(b)

       name     city
0  Mohammad  newyork
1       Ali   london
2     Sumon   german
3     Mamon   berlin